<html>
    <head>
        <title>
            Sport Store>
        </title>
        <link type="text/css" rel="stylesheet"
        href="/assets/stylesheets/bootstrap/css/bootstrap.css">
        <link href="../../public/stylesheets/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="background-color: white">
                <center><h1>Welcome To Sport Store</h1></center>
                <center><img src="assets/images/sport.png" width="200" ></center>
                <center><h1>ร้านขายชุดกีฬาคูณภาพดี ราคาถูก</h1></center>
            </div>
            <div class="col-md-3"></div>
        </div>
    </body>