<center><h1 style="color: white" >Pants</h1></center><br><br>
<center><div class="col-md-4"></div>
    <div class="col-md-4">
<center><img src="assets/images/2.1.JPG" width="170" ></center>
        <center><div class="alert alert-primary">กางเกงกีฬาชายสีดำ</div></center><br><br>
<center><img src="assets/images/2.2.JPG" width="170" ></center>
        <center><div class="alert alert-primary">กางเกงกีฬาชายสีน้ำเงิน</div></center><br><br>
<center><img src="assets/images/2.3.JPG" width="170" ></center>
        <center><div class="alert alert-primary">กางเกงกีฬาชายสีเขียว</div></center><br><br>
    </div>
    <div class="col-md-4"></div>
</center>