<center><h1 style="color: white" >Shirts</h1></center><br><br>

<center><div class="col-md-4"></div>
<div class="col-md-4">
    <center><img src="assets/images/1.JPG" width="170">
        <span><img src="assets/images/2.JPG" width="170" ></span></center>
<center><div class="alert alert-primary">เสื้อโปโลชายสีเหลือง</div></center><br><br>

    <center><img src="assets/images/13.JPG" width="170">
        <span><img src="assets/images/14.JPG" width="170"></span></center>
<center><div class="alert alert-primary">เสื้อโปโลชายสีดำ</div></center><br><br>

    <center><img src="assets/images/21.JPG" width="170" >
        <span><img src="assets/images/22.JPG" width="170"></span></center>
<center><div class="alert alert-primary">เสื้อโปโลชายสีขาว</div></center><br><br>
</div>
<div class="col-md-4"></div>
</center>